<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>garuda</title>
</head>
<body>
    <h1>Garuda projects</h1>
<!-- <img id="vid" src="/video_feed" alt="" width="500px" height="500px" style="display: none;">  -->

    <img src="/car_detection" alt="" width="500px" height="500px">
    <!-- <img  src="/line_detection" alt="" width="500px" height="500px"> -->
    <!-- <img  src="/loitering" alt="" width="500px" height="500px"> -->
    <img  src="/object_detection" alt="" width="500px" height="500px">

    <!-- <button onclick="buttonClick(1)">Change Camera Detection</button>

    <script>
        var vid = document.getElementById('vid');
        var car = document.getElementById('car');
        var loi = document.getElementById('loi');
        var obj = document.getElementById('obj');
        var lin = document.getElementById('lin');

        function buttonClick(val){
            console.log(val)
            vid.style.display = 'none';
            car.style.display = 'none';
            loi.style.display = 'none';
            obj.style.display = 'none';
            lin.style.display = 'none';

            switch(val){
                case 1:
                    vid.style.display = 'block';
                    break;
                case 2:
                    car.style.display = 'block';
                    break;
                case 3:
                    loi.style.display = 'block';
                    break;
                case 4:
                    obj.style.display = 'block';
                    break;
                case 5:
                    lin.style.display = 'block';
                    break;
            }
           
        }

        // buttonClick(3);

    </script> -->

</body>
</html>